.banner {
  width: 100%;
  padding-block: 2.5rem;
  overflow: hidden;

  .scroller {
    width: 100%;
    overflow: hidder;
    padding-block: 1rem;
  }

  .rolling {
    display: flex;
    gap: 1.5rem;

    animation-name: rolling;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    /* animation: rolling 2s linear infinite; */
  }

  .bg-gradient-animate {
    background: linear-gradient(
      45deg,
      var(--snitap-sky-light),
      var(--snitap-joy-light)
    );

    background-size: 400%;
    background-position: 0 50%;

    animation-name: bg-gradient;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
}

@media (width <= 380px) {
  .banner {
    & .scroller {
      padding-block: 1.4rem;
    }
  }
}

@keyframes bg-gradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes rolling {
  to {
    transform: translateX(-128px);
  }
}